@use "./mixins/column";

@mixin birth-wraper {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: skranji-regular, sans-serif !important;
    gap: 0.5rem;
}

.birth-wrapper > .button > button:hover,
.birth-wrapper > .button > button:focus,
.birthright-types > select:focus,
.birthright-types > select:hover,
.birthright-description > textarea:focus,
.birthright-description > textarea:hover,
.boons-area > ul > li > input[type="text"]:focus,
.boons-area > ul > li > input[type="text"]:hover,
.boons-area > button:focus,
.boons-area > button:hover {
    box-shadow: none;
}

.types {
    display: flex;
    gap: 0.5rem;
}

.birth {
    @include column.column;

    .birth-wrapper {
        @include birth-wraper;
        justify-content: center;
        padding: 0 2.25rem;

        .button {
            display: flex;
            width: 100%;
            align-items: flex-end;
            gap: 0.8rem;

            button {
                font-family: skranji-regular, sans-serif !important;
                text-transform: uppercase;
                width: 15rem;
            }
        }

        .births {
            @include birth-wraper;
            padding: 0 0 10px 0;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 0.9rem;

                li {
                    .birthright-input-area {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        width: 100%;
                        position: relative;

                        .row {
                            display: flex;
                            align-items: center;
                            gap: 0.8rem;
                            width: 100%;

                            .birthright-name {
                                width: 100%;
                                display: flex;
                                align-items: center;

                                input[type="text"] {
                                    border-top: none;
                                    border-left: none;
                                    border-right: none;
                                    width: 100%;
                                    padding: 10px;

                                    &::placeholder {
                                        font-style: italic;
                                    }

                                    &:focus {
                                        box-shadow: none;
                                    }
                                }
                            }

                            .types {
                                display: flex;
                                gap: 0.5rem;
                            }

                            .birthright-level {
                                @include birth-wraper;
                                flex-direction: row;
                            }

                            .birthright-description {
                                display: flex;
                                width: 100%;
                                flex-direction: column;
                                padding: 20px;
                                margin-top: 20px;
                                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                                margin-bottom: 20px;
                                gap: 0.65rem;
                                position: relative;

                                textarea {
                                    width: 45rem;
                                    height: 100px;
                                    min-height: 50px;
                                    max-height: 200px;
                                    resize: none;
                                    font-family: skranji-regular, sans-serif !important;
                                    text-transform: capitalize;
                                    padding: 10px;
                                }

                                .boons-area {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    height: auto;
                                    gap: 0.65rem;
                                    position: relative;

                                    ul {
                                        margin: 0;
                                        padding: 0;
                                        list-style: none;
                                        display: flex;
                                        flex-direction: column;
                                        width: auto;
                                        height: auto;
                                        gap: 0.73rem;

                                        li {
                                            display: flex;
                                            gap: 0.5rem;
                                            align-items: center;
                                            position: relative;

                                            input[type="text"] {
                                                padding: 10px;
                                            }
                                        }
                                    }

                                    button {
                                        font-family: skranji-regular, sans-serif !important;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }

                        .delete-button--absolute {
                            top: -5px;
                        }
                    }
                }
            }
        }

        .birthright-types {
            display: flex;
            flex-direction: column;
            width: 20rem;
            font-family: skranji-regular, sans-serif !important;
            text-transform: capitalize;

            select {
                height: 33px;
                border: 2px groove var(--color-border-light-highlight);
            }
        }
    }
}

.virtues {
    @include column.column;
    padding-bottom: 1rem;

    .virtues-wrapper {
        @include column.column;

        .virtues-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 0.5rem;
            width: 100%;
            border-bottom: rgba(0, 0, 0, 1) 1px solid;
            padding: 0.5rem 0;

            .virtues-column {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                flex: 1 1 auto;
                align-items: flex-start;
                justify-content: center;

                input[type="text"] {
                    padding: 10px;
                    border: none;
                }

                &:nth-child(2) {
                    align-items: flex-end !important;
                }
            }
        }
    }
}
