.birth,
.virtues,
.virtues-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  min-height: 0;
  max-height: none;
}

.virtues-wrapper {
  padding: 0 2.25rem;
}

.virtues-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  border-bottom: rgba(0, 0, 0, 1) 1px solid;
  padding: 0.5rem 0;
}

.virtues-row > .virtues-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  align-items: flex-start;
  justify-content: center;
}

.virtues-row > .virtues-column:nth-child(2) {
  align-items: flex-end !important;
}

.birth-wrapper,
.births {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: skranji-regular, sans-serif !important;
  gap: 0.5rem;
}

.births {
  padding: 0 0 10px 0;
}

.birth-wrapper {
  justify-content: center;
  padding: 0 2.25rem;
}

.birth-wrapper > .button {
  display: flex;
  width: 100%;
  align-items: center;
}

.birth-wrapper > .button > button:hover,
.birth-wrapper > .button > button:focus {
  box-shadow: none;
}

.birth-wrapper > .button > button {
  font-family: skranji-regular, sans-serif !important;
  text-transform: uppercase;
  width: 15rem;
}
