.birth,
.virtues,
.virtues-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  min-height: 0;
  max-height: none;
}

.virtues-wrapper {
  padding: 0 2.25rem;
}

.virtues-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  border-bottom: rgba(0, 0, 0, 1) 1px solid;
  padding: 0.5rem 0;
}

.virtues-row > .virtues-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  align-items: flex-start;
  justify-content: center;
}

.virtues-row > .virtues-column:nth-child(2) {
  align-items: flex-end !important;
}

.birth-wrapper,
.births {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: skranji-regular, sans-serif !important;
  gap: 0.5rem;
}

.births {
  padding: 0 0 10px 0;
}

.birth-wrapper {
  justify-content: center;
  padding: 0 2.25rem;
}

.birth-wrapper > .button {
  display: flex;
  width: 100%;
  align-items: flex-end;
  gap: 0.8rem;
}

.birthright-types {
  display: flex;
  flex-direction: column;
  width: 20rem;
  font-family: skranji-regular, sans-serif !important;
  text-transform: capitalize;
}

.birthright-types > select {
  height: 33px;
  border: 2px groove var(--color-border-light-highlight);
}

.birth-wrapper > .button > button:hover,
.birth-wrapper > .button > button:focus,
.birthright-types > select:focus,
.birthright-types > select:hover {
  box-shadow: none;
}

.birth-wrapper > .button > button {
  font-family: skranji-regular, sans-serif !important;
  text-transform: uppercase;
  width: 15rem;
}

.births > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.birthright-input-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.birthright-input-area > .row {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}

.birthright-name > input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 10px;
}

.birthright-name > input[type="text"]::placeholder {
  font-style: italic;
}

.birthright-name > input[type="text"]:focus {
  box-shadow: none;
}

.birthright-name,
.birthright-level {
  width: 100%;
  display: flex;
  align-items: center;
}
