.weapons,
.willpower-legend,
.combat-armor,
.weapon-wrapper,
.weapon-wrapper ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  min-height: 0;
  max-height: none;
  position: relative;
}

.weapon-wrapper .add-weapon {
  font-family: skranji-regular, sans-serif !important;
  text-transform: uppercase;
  width: 50rem;
  margin-left: 16px;
}

.weapon-wrapper ul {
  list-style: none;
  padding: 0 30px;
}

.weapon-wrapper ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  padding: 10px;
  box-shadow: 4px 1px 13px rgba(0, 0, 0, 0.3);
  position: relative;
}

.weapon-wrapper ul li .delete-button {
  top: 98px;
  bottom: 0;
  font-size: 20px;
  height: 30px;
}

.weapon-name,
.weapon-specs,
.attr-skill,
.damage-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.weapon-name button {
  width: 23rem;
  font-family: skranji-regular, sans-serif !important;
  text-transform: capitalize;
}

.weapon-name button:nth-of-type(2) {
  background-color: #ff5b5b;
  border: 1px solid #ff5b5b;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.weapon-wrapper input[type="text"] {
  padding: 10px;
  height: 33px;
}

.attr-skill select,
.damage-attr select {
  width: 13rem;
  padding: 0 10px;
  height: 33px;
}

.attr-skill select {
  width: 10.2rem;
}

.weapon-stats {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.weapon-stats input[type="text"] {
  width: 6rem;
}

.damage input[type="text"] {
  width: 10rem;
}
