.weapons,
.willpower-legend,
.combat-armor,
.weapon-wrapper,
.weapon-wrapper ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  min-height: 0;
  max-height: none;
  position: relative;
}

.weapon-wrapper .add-weapon {
  font-family: skranji-regular, sans-serif !important;
  text-transform: uppercase;
  width: 50rem;
  margin-left: 16px;
}

.weapon-wrapper ul {
  list-style: none;
  padding: 0 30px;
  gap: 1.62rem;
}

.weapon-wrapper ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  padding: 10px;
  box-shadow: 4px 1px 13px rgba(0, 0, 0, 0.3);
  position: relative;
}

.weapon-wrapper ul li .delete-button {
  top: 98px;
  bottom: 0;
  font-size: 20px;
  height: 30px;
}

.weapon-name,
.weapon-specs,
.attr-skill,
.damage-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.weapon-name button {
  width: 23rem;
  font-family: skranji-regular, sans-serif !important;
  text-transform: capitalize;
}

.weapon-name button:nth-of-type(2) {
  background-color: #ff5b5b;
  border: 1px solid #ff5b5b;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.weapon-wrapper input[type="text"] {
  padding: 10px;
  height: 33px;
}

.attr-skill select,
.damage-attr select {
  width: 13rem;
  padding: 0 10px;
  height: 33px;
  text-transform: capitalize;
}

.attr-skill select {
  width: 10.2rem;
}

.weapon-stats {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.weapon-stats input[type="text"] {
  width: 6rem;
}

.damage input[type="text"] {
  width: 10rem;
}

.willpower-legend-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 0.6rem;
  padding: 0 10px;
}

.willpower,
.legend {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.willpower .points {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.point-to-spend {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.point-to-spend input[type="number"] {
  width: 9rem;
  padding: 10px;
}

.points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  align-items: center;
}

.willpower .scion-label-subtitle,
.legend .scion-label-subtitle {
  margin: 0 0 5px 0;
}

.combat-armor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: minmax(60px, auto);
  gap: 0.9rem;
  text-align: center;
  width: 100%;
}

.combat-armor-grid-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.defense-value-dodge,
.defense-value-parry {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  padding: 0px 15px;
}

.defense-value-dodge input[type="text"],
.defense-value-parry input[type="text"] {
  flex: 1;
  min-width: 0;
  padding: 10px;
}
.defense-value-dodge span,
.defense-value-parry span {
  min-width: 60px; /* ajuste conforme necessário */
}
