.attributes,
.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  min-height: 0;
  max-height: none;
}

.attributes > .attributes-types-grid,
.skills > .skills-types-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: minmax(60px, auto);
  gap: 0.9rem;
  text-align: center;
  width: 100%;
}

.attribute-grid-item,
.skills-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;
  width: 100%;
  color: #222;
}

.attributes > .attributes-types-grid > .attribute-grid-item > h3,
.skills > .skills-types-grid > .skills-grid-item > h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 0;
  color: #222;  
}

.attributes > .attributes-types-grid > .attribute-grid-item > .attribute-row,
.skills > .skills-types-grid > .skills-grid-item > .skills-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  border-bottom: rgba(0, 0, 0, 1) 1px solid;
  padding: 0.5rem 0;
  gap: 0.1rem;
}

.attributes
  > .attributes-types-grid
  > .attribute-grid-item
  > .attribute-row
  > .attribute-column,
.skills
  > .skills-types-grid
  > .skills-grid-item
  > .skills-row
  > .skills-column {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  gap: 0.3rem;
  text-transform: capitalize;
}

.skills-column:nth-child(2) {
  align-items: flex-end !important;
}

.skills-row {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.skills-row > .square-checkbox {
  margin: 3px 0px;
  opacity: 0.8;
}

.attribute-row > .attribute-column:nth-child(1),
.skills-row > .skills-column:nth-child(1) > .skills-row > div {
  cursor: pointer;
}
