<section class="knacks-section knack-journal-entry-content">
  <div class="knack-wrapper-list">
    {{#each knackItem.knacks as |knack|}}
    <h2>{{knack.name}}</h2>
    <div class="knack-list">
      <ul>
        {{#each knack.powers as |power|}}
        <li
          draggable="true"
          data-type="knack-power"
          data-entry="{{power.name}}"
        >
          <h3>{{power.name}}</h3>
          <span>{{{power.description}}}</span>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/each}}
  </div>
</section>
