.knack-journal-entry-content {
  background: rgba(254, 254, 254, 255);
  border-radius: 5px;
  padding: 15px 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
}

.knack-journal-entry-content > .journal-header {
  display: none;
}

.knack-wrapper-list,
.knack-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: skranji-bold, sans-serif;
  color: #222;
}

.knack-wrapper-list {
  gap: 1rem;
}

.knack-wrapper-list h2,
.knack-list > ul > li h3 {
  font-family: skranji-bold, sans-serif;
  color: #222;
}

.knack-list > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.knack-list > ul > li {
  padding: 20px;
  background: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 4px;
}

.knack-list > ul > li > span {
  font-style: italic;
  font-weight: lighter;
  text-align: justify;
}
