.purview-journal-entry-content {
  background: rgba(254, 254, 254, 255);
  border-radius: 5px;
  padding: 15px 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
}

.purview-journal-entry-content > .journal-header {
  display: none;
}

.purview-journal-entry-content
  > .journal-entry-pages
  > .journal-entry-page:has(header.journal-page-header)
  header.journal-page-header {
  margin: 0 0 23px 0;
  background-image: url(../../assets/png/band-small.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purview-journal-entry-content > h2 {
  margin: 0 0 23px 0;
  text-align: center;
  font-family: skranji-bold, sans-serif;
  font-size: 1.5rem;
  background-image: url(../../assets/png/band-small.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem 0;
  border-bottom: none;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.purviews-description,
.purview-item-desciption,
.boon-description {
  font-style: italic;
  font-weight: lighter;
  text-align: justify;
}

.purviews-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  font-family: skranji-regular, sans-serif !important;
  font-size: medium;
  color: #222;
}

.purviews-section > h2 {
  font-size: 1.75em;
}

.purviews-wrapper,
.pruview-list,
.purview-item,
.boons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  gap: 0.8rem;
}

.pruview-list {
  gap: 0.85rem;
}

.purview-item {
  gap: 0.5rem;
}

.purview-item h3 {
  font-family: skranji-bold, sans-serif;
  color: #222;
}

.boon-list {
  list-style: none;
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.boon-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.boon-header-row {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 0.5rem;
}

.boon-header-column {
  text-transform: capitalize;
  justify-content: flex-start;
}

.boon-title {
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boon-title > span {
  text-decoration: underline;
}

.boon-title > .level > span {
  font-size: 1.25rem;
}

.level {
  display: flex;
  gap: 10px;
  font-family: skranji-regular, sans-serif !important;
  text-transform: capitalize;
}

.boon-list > li {
  padding: 20px;
  background: rgb(220, 220, 220);
  cursor: pointer;
  border-radius: 4px;
}

.boon-list > li:last-child {
  border-bottom: none;
}

.boon-header-row > span:first-child {
  font-weight: bolder;
}

.boon-header-row > span:last-child {
  font-style: italic;
  font-weight: lighter;
}

.purview-table {
  background: rgb(248, 248, 255);
}

.purview-table > thead > tr > th {
  color: rgb(248, 248, 255);
}

.purview-table > thead > tr > th,
.purview-table > tbody > tr > td {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: left;
  font-family: skranji-regular, sans-serif !important;
}
