<form autocomplete="off" class="pantheon-form">
  <div class="pantheon-group form-group">
    <header class="pantheon-group-header">
      <h1>Choose the Pantheon</h1>
    </header>
    <section class="pantheon-group-content">
      <ul class="pantheon-list">
        {{#each pantheons as |pantheon|}}
        <li class="pantheon-item">
          <input type="radio" name="pantheon-option" id="{{pantheon.name}}" hidden>
          <label for="{{pantheon.name}}">
            <div class="pantheon-name">
              {{pantheon.name}}
              <img class="pantheon-logo" src="{{pantheon.logo}}" alt="{{pantheon.name}}" />
            </div>
            <div class="pantheon-virtues">
              {{#splitInColumns pantheon.virtues 2 'pantheon-virtue-item'}}
              <div class="pantheon-virtue-item-row">{{key}}</div>
              {{/splitInColumns}}
            </div>
            <div class="pantheon-description">
              {{#if pantheon.description}}
              <p>{{{pantheon.description}}}</p>
              {{else}}
              <p>No description available.</p>
              {{/if}}
            </div>
          </label>
        </li>
        {{/each}}
      </ul>
    </section>
  </div>
</form>