<div class="scion-wrapper scrollable"id="scion-sheet-{{actor.id}}">
{{!-- Parte do Header --}}
  <section data-application-part="header">
    {{!-- O conteúdo aqui virá do template parcial do header --}}
  </section>

  {{!-- Conteúdo das Abas --}}
  <section class="sheet-content">
    <section data-application-part="stats"></section>
    <section data-application-part="birth"></section>
    <section data-application-part="knacks"></section>
    <section data-application-part="combat"></section>
  </section>
</div>