<div class="weapons">
  <div class="scion-label-title">
    <h2>Weapons</h2>
  </div>
  <div class="weapon-wrapper">
    <ul>
      {{#each system.weapons as |weapon|}}
  <li>
        <div class="weapon-name">
          <input
            type="text"
            placeholder="Weapon name"
            data-action="update-weapon-field"
            data-weapon-id="{{weapon._id}}"
            data-field="name"
            value="{{weapon.name}}"
          />
          <button data-action="roll-attack" data-weapon-id="{{weapon._id}}">Attack</button>
          <button data-action="roll-damage" data-weapon-id="{{weapon._id}}">Damage</button>
        </div>
        <div class="weapon-specs">
          <div class="attr-skill">
            <div>
              <span>Attr:</span>
              <select
                name="weapon-attr"
                data-action="select-weapon-type"
                data-field="attr"
                data-weapon-id="{{weapon._id}}"
              >
                <option value="">Attr</option>
                {{#each ../system.attrKeys as |attrKey|}}
                <option value="{{attrKey}}" {{ifEquals weapon.attr attrKey}}>
                  {{attrKey}}
                </option>
                {{/each}}
              </select>
            </div>
            <div>
              <span>Skill:</span>
              <select
                name="weapon-skill"
                data-action="select-weapon-type"
                data-field="skill"
                data-weapon-id="{{weapon._id}}"
              >
                <option value="">Skills</option>
                {{#each ../system.skillsKeys as |skill|}}
                <option value="{{skill}}" {{ifEquals weapon.skill skill}}>
                  {{skill}}
                </option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="weapon-stats">
            <div>
              <span>Speed:</span>
              <input type="text" placeholder="Speed" data-action="update-weapon-field" data-weapon-id="{{weapon._id}}" data-field="speed" value="{{weapon.speed}}" />
            </div>
            <div>
              <span>Accuracy:</span>
              <input type="text" placeholder="Accuracy" data-action="update-weapon-field" data-weapon-id="{{weapon._id}}" data-field="acc" value="{{weapon.acc}}" />
            </div>
            <div>
              <span>Defense:</span>
              <input
                type="text"
                placeholder="Defense"
                data-action="update-weapon-field"
                data-weapon-id="{{weapon._id}}"
                data-field="defense"
                value="{{weapon.defense}}"
              />
            </div>
            <div>
              <span>Range:</span>
              <input
                type="text"
                placeholder="Range"
                data-action="update-weapon-field"
                data-weapon-id="{{weapon._id}}"
                data-field="range"
                value="{{weapon.range}}"
              />
            </div>
            <div class="damage">
              <span>Damage:</span>
              <input
                type="text"
                placeholder="Damage value"
                data-action="update-weapon-field"
                data-weapon-id="{{weapon._id}}"
                data-field="damage"
                value="{{weapon.damage}}"
              />
            </div>
          </div>
        </div>
        <div class="damage-info">
          <div class="damage-attr">
            <div>
              <span>Damage Attribute:</span>
              <select
                data-action="select-weapon-type"
                data-field="damageAttr"
                data-weapon-id="{{weapon._id}}"
              >
                <option value="">Damage Attr</option>
                {{#each ../system.attrKeys as |attr|}}
                <option value="{{attr}}" {{ifEquals weapon.damageAttr attr}}>
                  {{attr}}
                </option>
                {{/each}}
              </select>
            </div>
            <div>
              <span>Damage Type:</span>
              <select
                data-action="select-weapon-type"
                data-field="type"
                data-weapon-id="{{weapon._id}}"
              >
                <option value="">Damage Type</option>
                {{#each ../system.damageType as |type|}}
                <option value="{{type}}" {{ifEquals weapon.type type}}>
                  {{type}}
                </option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
        <button
          class="delete-button"
          data-action="delete-weapon"
          data-weapon-id="{{weapon._id}}"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </li>
      {{/each}}
    </ul>
    <button class="add-weapon" data-action="button-weapon-add">
      Add weapon
    </button>
  </div>
</div>
<div class="willpower-legend">
  <div class="scion-label-title">
    <h2>Willpower & Legend</h2>
  </div>
  <div class="willpower-legend-wrapper">
    <div class="willpower">
      <div class="scion-label-subtitle" data-type="willpower" data-action="roll-willpower">
        <h2>Willpower</h2>
      </div>
      <div class="points">
        <div class="circles">
          {{#each (range system.willpower.min system.willpower.max) as |i|}}
          <input
            type="checkbox"
            class="circle-checkbox"
            data-target="willpower.value"
            value="{{i}}"
          />
          {{/each}}
        </div>
        <div class="squares">
          {{#each (range system.willpowerPoints.min system.willpowerPoints.max)
          as |i|}}
          <input
            type="checkbox"
            class="square-checkbox"
            data-target="willpowerPoints.value"
            value="{{i}}"
          />
          {{/each}}
        </div>
      </div>
    </div>
    <div class="legend">
      <div class="scion-label-subtitle" data-type="legend" data-action="roll-legend">
        <h2>Legend</h2>
      </div>
      <div class="points">
        <div class="circles">
          {{#each (range system.legend.min system.legend.max) as |i|}}
          <input
            type="checkbox"
            class="circle-checkbox"
            data-target="legend.value"
            value="{{i}}"
          />
          {{/each}}
        </div>
        <div class="point-to-spend">
          <span>Points:</span><span>{{multiply system.legend.value 4}}</span>
          <input
            type="number"
            data-action="legend-point-change"
            min="{{system.legendPoints.min}}"
            max="{{system.legendPoints.max}}"
            value="{{system.legendPoints.value}}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="combat-armor">
  <div class="scion-label-title">
    <h2>Combat, Soak & Armor</h2>
  </div>
  <div class="join-battle">
    <button data-action="join-battle">Join Battle</button>
  </div>
  <div class="combat-armor-grid">
    <div class="combat-armor-grid-item">
      <div class="scion-label-small-subtitle">
        <h2>Defense Values</h2>
      </div>
      <div class="defense-value-dodge">
        <span>Dodge:</span>
        <input
          type="text"
          data-field="dodgeDV"
          data-action="defense-value-update"
          placeholder="Value"
          value="{{system.combat.dodgeDV.value}}"
        />
      </div>
      <div class="defense-value-parry">
        <span>Parry:</span>
        <input
          type="text"
          data-field="parryDV"
          data-action="defense-value-update"
          placeholder="value"
          value="{{system.combat.parryDV.value}}"
        />
      </div>
    </div>
    <div class="combat-armor-grid-item">
      <div class="scion-label-small-subtitle">
        <h2>Armor</h2>
      </div>
      <div class="armor-wrapper">
        <div class="armor-name">
          <input
            type="text"
            placeholder="Armor name"
            value="{{system.combat.armor.name}}"
          />
        </div>
        <div class="armor-stats">
          <div class="aggraveted">
            <span>A</span>
            <input
              type="text"
              value="{{system.combat.armor.Aggravated.value}}"
            />
          </div>
          <div class="lethal">
            <span>L</span>
            <input type="text" value="{{system.combat.armor.Lethal.value}}" />
          </div>
          <div class="bashing">
            <span>B</span>
            <input type="text" value="{{system.combat.armor.Bashing.value}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="combat-armor-grid-item">
      <div class="scion-label-small-subtitle">
        <h2>Soak</h2>
      </div>
      <div class="soak-wrapper">
        <div class="armor-stats">
          <div class="aggraveted">
            <span>A</span>
            <input
              type="text"
              value="{{system.combat.soak.Aggravated.value}}"
              disabled
            />
          </div>
          <div class="lethal">
            <span>L</span>
            <input type="text" value="{{system.combat.soak.Lethal.value}}" disabled />
          </div>
          <div class="bashing">
            <span>B</span>
            <input type="text" value="{{system.combat.soak.Bashing.value}}" disabled />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="health">
  <div class="scion-label-title">
    <h2>Health</h2>
  </div>

  <div class="health-line">
    {{#each system.health.conditions as |condition key|}}
    <div class="health-box">
      <span class="penalty">{{#if (eq key "Incapacitated")}}I{{else}}{{condition.value}}{{/if}}</span>
      <select data-key="{{key}}" data-action="change-health-damage">
        <option {{ifEquals condition.damageType "__none__"}} value="__none__">&nbsp;</option>
        <option {{ifEquals condition.damageType "/"}} value="/">&#8260;</option>
        <option {{ifEquals condition.damageType "X"}} value="X">✕</option>
        <option {{ifEquals condition.damageType "*"}} value="*">★</option>
      </select>
    </div>
    {{/each}}
  </div>
</div>
<div class="experience">
  <div class="scion-label-title">
    <h2>Experience</h2>
  </div>
  <input type="text" data-action="update-xp" value="{{system.experience.value}}">
</div>
