<div class="weapons">
  <div class="scion-label-title">
    <h2>Weapons</h2>
  </div>
  <div class="weapon-wrapper">
    <ul>
      {{#each system.weapons as |weapon|}}
      <li>
        <div class="weapon-name">
          <input
            type="text"
            placeholder="Weapon name"
            value="{{weapon.name}}"
          />
          <button>Attack</button>
          <button>Damage</button>
        </div>
        <div class="weapon-specs">
          <div class="attr-skill">
            <select name="weapon-attr" id="">
              <option value="">Attr</option>
              {{#each ../system.attrKeys as |attr|}}
              <option value="{{attr}}">{{attr}}</option>
              {{/each}}
            </select>
            <select name="weapon-skill" id="">
              <option value="">Skills</option>
              {{#each ../system.skillsKeys as |skill|}}
              <option value="{{skill}}">{{skill}}</option>
              {{/each}}
            </select>
          </div>
          <div class="weapon-stats">
            <input type="text" placeholder="Speed" value="{{weapon.speed}}" />
            <input type="text" placeholder="Accuracy" value="{{weapon.acc}}" />
            <input
              type="text"
              placeholder="Defense"
              value="{{weapon.defense}}"
            />
            <input type="text" placeholder="Range" value="{{weapon.range}}" />
          </div>
        </div>
        <div class="damage-info">
          <div class="damage">
            <input
              type="text"
              placeholder="Damage value"
              value="{{weapon.damage}}"
            />
          </div>
          <div class="damage-attr">
            <select name="" id="">
              <option value="">Attr</option>
              {{#each ../system.attrKeys as |attr|}}
              <option value="{{attr}}">{{attr}}</option>
              {{/each}}
            </select>
            <select name="" id="">
              <option value="">Type</option>
              {{#each ../system.damageType as |type|}}
              <option value="{{type}}">{{type}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <button
          class="delete-button"
          data-action="delete-weapon"
          data-weapon-id="{{weapon._id}}"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </li>
      {{/each}}
    </ul>
    <button class="add-weapon" data-action="button-weapon-add">
      Add weapon
    </button>
  </div>
</div>
<div class="willpower-legend">
  <div class="scion-label-title">
    <h2>Willpower & Legend</h2>
  </div>
  <div class="willpower-legend-wrapper">
    <div class="willpower">
      <div class="scion-label-subtitle">
        <h2>Willpower</h2>
      </div>
      <div class="points">
        <div class="circles">
          {{#each (range system.willpower.min system.willpower.max) as |i|}}
          <input
            type="checkbox"
            class="circle-checkbox"
            data-target="willpower.value"
            value="{{i}}"
          />
          {{/each}}
        </div>
        <div class="squares">
          {{#each (range system.willpowerPoints.min system.willpowerPoints.max)
          as |i|}}
          <input
            type="checkbox"
            class="square-checkbox"
            data-target="willpowerPoints.value"
            value="{{i}}"
          />
          {{/each}}
        </div>
      </div>
    </div>
    <div class="legend">
      <div class="scion-label-subtitle">
        <h2>Legend</h2>
      </div>
      <div class="points">
        <div class="circles">
          {{#each (range system.legend.min system.legend.max) as |i|}}
          <input
            type="checkbox"
            class="circle-checkbox"
            data-target="legend.value"
            value="{{i}}"
          />
          {{/each}}
        </div>
        <div class="point-to-spend">
          <span>Points:</span><span>{{multiply system.legend.value 4}}</span>
          <input
            type="number"
            data-action="legend-point-change"
            min="{{system.legendPoints.min}}"
            max="{{system.legendPoints.max}}"
            value="{{system.legendPoints.value}}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="combat-armor">
  <div class="scion-label-title">
    <h2>Combat, Soak & Armor</h2>
  </div>
</div>
