<div class="weapons">
  <div class="scion-label-title">
    <h2>Weapons</h2>
  </div>
  <div class="weapon-wrapper">
    <ul>
      <li>
        <div class="weapon-name">
          <button>Attack</button>
          <button>Damage</button>
          <input type="text" placeholder="Weapon name" />
        </div>
        <div class="weapon-specs">
          <div class="attr-skiil"></div>
          <div class="weapon-stats"></div>
        </div>
        <div class="damage-info">
          <div class="damage">
            <input type="text" placeholder="Damage value" />
          </div>
          <div class="damage-attr"></div>
        </div>
      </li>
    </ul>
    <button>Add weapon</button>
  </div>
</div>
<div class="willpower-legend">
  <div class="scion-label-title">
    <h2>Willpower & Legend</h2>
  </div>
</div>
<div class="combat-armor">
  <div class="scion-label-title">
    <h2>Combat, Soak & Armor</h2>
  </div>
</div>
