<div class="knacks">
  <div class="scion-label-title">
    <h2>Knacks</h2>
  </div>
  <div class="knacks-wrapper">
    <div class="knack-list">
      <ul>
        <li>
          <input type="text" name="" id="" placeholder="Knack" />
          <textarea name="" id="" placeholder="Description"></textarea>
        </li>
      </ul>
    </div>
    <button>Add Knack</button>
  </div>
</div>
<div class="boons">
  <div class="scion-label-title">
    <h2>Boons</h2>
  </div>
  <div class="boons-wrapper">
    <div class="boons">
      <ul class="boon-list">
        <li>
          <div class="boom-name-level">
            <div class="boon-name">
              <input type="text" name="" id="" placeholder="Boon name" />
            </div>
            <div class="boon-level">
              <span>level:</span
              ><input type="text" name="" id="" placeholder="Boon level" />
            </div>
          </div>
          <div class="boon-dice-pool">
            <span>Dice pool:</span>
            <input type="text" name="" id="" placeholder="Dice pool" />
          </div>
          <div class="boon-cost">
            <span>cost:</span>
            <input type="text" name="" id="" placeholder="Boon cost" />
          </div>
          <div class="boon-description">
            <textarea name="" id="" placeholder="Description"></textarea>
          </div>
        </li>
      </ul>
    </div>
    <button>Add Boon</button>
  </div>
</div>
