<div class="tab {{#if (eq tabs.primary 'stats')}}active{{/if}}">
<div class="attributes">
  <div class="scion-label-title">
    <h2>{{localize "STATS.ATTRIBUTES"}}</h2>
  </div>
  <div class="attributes-types-grid">
    {{#each system.attributes as |attr key|}}
    <div class="attribute-grid-item" data-key="{{key}}">
      <h3>{{customLocalize key 'ATTRIBUTE_TYPES'}}</h3>
      {{#each attr as |attribute label|}}
      <div class="attribute-row" data-label="{{label}}">
        <div
          class="attribute-column"
          data-action="roll-attribute"
          data-type="attribute"
          data-key="{{key}}"
          data-label="{{label}}"
        >
          <span>{{customLocalize label 'ATTRIBUTES'}}</span>
        </div>
        <div class="attribute-column">
          <div class="circles">
            {{#each (range attribute.min attribute.max) as |i|}}
              <input
                type="checkbox"
                class="circle-checkbox"
                data-target="attributes.{{../key}}.{{label}}.value"
                value="{{i}}"
                {{#if (lessThanOrEqual i ../attribute.value)}}checked{{/if}}
              />
            {{/each}}
          </div>
          <div class="squares">
            {{#with (lookup (lookup @root.system.epicAttributes key) label) as
            |epicAttr|}} {{#if epicAttr}} {{#each (range epicAttr.min
            epicAttr.max) as |i|}}
              <input
                type="checkbox"
                class="square-checkbox"
                data-target="epicAttributes.{{../key}}.{{label}}.value"
                value="{{i}}"
                {{#if (lessThanOrEqual i ../epicAttr.value)}}checked{{/if}}
              />
            {{/each}} {{/if}} {{/with}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
</div>
<div class="skills">
  <div class="scion-label-title">
    <h2>{{localize "STATS.ABILITIES"}}</h2>
  </div>
  <div class="skills-types-grid">
    {{#splitInColumns system.abilities 3 'skills-grid-item'}}
    <div class="skills-row" data-key="{{key}}">
      <div class="skills-column">
        <div class="skills-row">
          <input type="checkbox" class="square-checkbox" {{#if
          data.favored}}checked{{/if}} />
          <div data-action="roll-ability" data-key="{{key}}">
            <span>{{customLocalize key 'ABILITIES'}}</span>
          </div>
        </div>
      </div>
      <div class="skills-column">
        <div class="circles">
          {{#each (range data.min data.max) as |i|}}
          <input
            type="checkbox"
            class="circle-checkbox"
            data-target="abilities.{{../key}}.value"
            value="{{i}}"
            {{#if (lessThanOrEqual i ../data.value)}}checked{{/if}}
          />
          {{/each}}
        </div>
      </div>
    </div>
    {{/splitInColumns}}
  </div>
</div>
</div>

