.pantheon-form,
.pantheon-group {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column !important;
  gap: 0.5rem;
  margin: 0 !important;
  font-family: skranji-regular, sans-serif !important;
}

.pantheon-form {
  background: rgba(254, 254, 254, 255);
  padding: 15px 15px;
  border-radius: 5px;
  min-height: 25.875rem;
}

.pantheon-group-header,
.pantheon-group-content {
  display: flex;
  width: 100%;
}

.pantheon-group-header {
  flex: none !important;
  display: flex;
  justify-content: center;
}

.pantheon-group-header > h1 {
  margin: 0 0 0.1rem !important;
  padding: 0 !important;
  border: none !important;
}

.pantheon-group-content {
  width: 100% !important;
  display: flex !important;
  flex-flow: column;
  height: 100% !important;
}

.pantheon-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
}

.pantheon-logo {
  width: 100px;
  height: 100px;
  border: none;
}

.pantheon-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pantheon-virtues {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: minmax(60px, auto);
  gap: 0.9rem;
  text-align: center;
  width: 100%;
}

.pantheon-item {
  padding: 1rem;
  border-bottom: 1px solid var(--color-border-light-tertiary);
  transition: background-color 0.3s ease;
}

.pantheon-item:last-child {
  border-bottom: none;
}

.pantheon-item:hover {
  background-color: rgba(211, 211, 211, 0.5) !important;
}

.pantheon-item > label {
  cursor: pointer;
}


/* Fixar os botões do Dialog no fundo */
.dialog .dialog-buttons {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: inherit;
  z-index: 10;
  padding-bottom: 0px;
  box-shadow: 0 -2px 8px -6px #0002;
}

/* Garante rolagem suave e espaço para os botões */
.dialog .window-content {
  scroll-behavior: smooth;
  padding-bottom: 5px;
}
