@font-face {
  font-family: oldenburg-regular;
  src: url("../assets/fonts/Oldenburg-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: roboto-regular;
  src: url("../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: roboto-medium;
  src: url("../assets/fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: roboto-italic;
  src: url("../assets/fonts/RobotoMono-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: roboto-thin;
  src: url("../assets/fonts/RobotoMono-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: skranji-bold;
  src: url("../assets/fonts/Skranji-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: skranji-regular;
  src: url("../assets/fonts/Skranji-Regular.ttf") format("truetype");
  font-weight: normal;
}

input[type="text"]:focus,
input[type="text"]:hover,
button:focus,
button:hover,
textarea:focus,
textarea:hover {
  box-shadow: none;
  outline: none;
}

.scion-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: rgba(254, 254, 254, 255);
  padding: 15px 15px;
  border-radius: 5px;
  font-family: skranji-regular, sans-serif !important;
  font-size: medium;
}

.scion-header {
  background-image: url("../assets/svg/scion-logo.svg");
  background-position: center 10px;
  background-size: auto 85px;
  background-repeat: no-repeat;
  height: 120px;
  padding: 90px 0 0px 0;
  text-align: center;
}

.scion-header > h1 {
  border-bottom: 0;
  margin: 0;
  font-family: skranji-bold, sans-serif;
}

.scion-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

.scion-form > .sheet-header {
  gap: 0.5rem;
  display: flex;
}

.scion-form > .sheet-header > .column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  align-items: stretch;
}

.scion-form > .sheet-header > .column > .row {
  line-height: 25px;
}

.scion-form > .sheet-header > .column > .row > input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
}

.scion-form > .sheet-header > .column > .row > input[type="text"]:focus {
  box-shadow: none;
}

.scion-label-title {
  width: 100%;
  height: 85px;
  max-width: 130rem;
  margin: 0 auto;
  background-image: url("../assets/png/band.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scion-label-title > h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-bottom: 0;
  margin: 0;
  font-family: skranji-bold, sans-serif;
}

.scion-pantheon-button {
  width: calc(100% - 2px);
  min-width: 20px;
  height: var(--form-field-height);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid var(--color-border-light-tertiary);
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: skranji-regular, sans-serif !important;
}

.scion-pantheon-button > img {
  width: 30px;
  height: 30px !important;
  flex: 0 !important;
  border: 0;
  margin-right: 0 !important;
  margin-bottom: 5px;
}

.scion-pantheon-button:hover,
.scion-pantheon-button:focus {
  box-shadow: none;
}

.circle-checkbox,
.square-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #222;
  margin: 0 2px;
  background: #fff;
  vertical-align: middle;
  cursor: pointer;
  transition: background 0.2s;
}

.square-checkbox {
  border-radius: 4px;
}

.circle-checkbox {
  border-radius: 50%;
}

.circle-checkbox:checked,
.square-checkbox:checked {
  background: #222;
}

.circles,
.squares {
  display: flex;
  flex-direction: row;
}

.circles > input[type="checkbox"],
.squares > input[type="checkbox"] {
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  margin: 1px;
}
