@font-face {
  font-family: oldenburg-regular;
  src: url('../assets/fonts/Oldenburg-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: roboto-regular;
  src: url('../assets/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: roboto-medium;
  src: url('../assets/fonts/RobotoMono-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: roboto-italic;
  src: url('../assets/fonts/RobotoMono-Italic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: roboto-thin;
  src: url('../assets/fonts/RobotoMono-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: skranji-bold;
  src: url('../assets/fonts/Skranji-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: skranji-regular;
  src: url('../assets/fonts/Skranji-Regular.ttf') format('truetype');
  font-weight: normal;
}

.sheet-content {
  position: relative;
  display: block;
  min-height: 400px; /* Ajuste conforme necessário */
}

/* Garante que o form da aplicação ocupe a altura total */
.standard-form.scion-v2-sheet {
  background: #fefefe;
  position: relative;
  padding: 1.5rem 1.25rem;
  color: #222;
  border-radius: 8px;
  font-size: 1.05rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: skranji-regular, sans-serif !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input[type='text']:focus,
input[type='text']:hover,
button:focus,
button:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  box-shadow: none;
  outline: none;
}

input[type='checkbox']::before,
input[type='radio']::before,
input[type='checkbox']::after,
input[type='radio']::after {
  content: none;
}

/* Esconde todas as abas por padrão */
.scion-v2-sheet .tab {
  display: none;
}

/* Mostra apenas a aba que tiver a classe .active */
.scion-v2-sheet .tab.active {
  display: inline-flex;
  padding: 1.5rem 0;
  width: 100%;
}

.standard-form.scion-v2-sheet .sheet-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.scion-header {
  background-image: url('../assets/svg/scion-logo.svg');
  background-position: center 10px;
  background-size: auto 85px;
  background-repeat: no-repeat;
  height: 120px;
  padding: 90px 0 0px 0;
  text-align: center;
}

.sheet-header .sheet-header-character-info {
  display: inline-flex;
  gap: 1rem;
  width: 100%;
}

.sheet-header .sheet-header-character-info .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: 0.3rem;
  width: 100%;
}

.sheet-header .sheet-header-character-info .column .row {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  gap: 0.3rem;
  width: 100%;
}

.sheet-header .sheet-header-character-info .column .row .column .pantheon-list-items {
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  background: #fff;
  top: 4rem;
  right: 0;
  z-index: 9;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: auto;
  max-height: 8rem;
  overflow-y: auto;
  transition:
    max-height 0.2s ease,
    opacity 0.15s ease;
}

.sheet-header .sheet-header-character-info .column .row .column .pantheon-list-items li {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  margin: 0;
  transition: background-color 0.3s ease;
}

.sheet-header .sheet-header-character-info .column .row .column .pantheon-list-items li:last-child {
  border-bottom: none;
}

.sheet-header .sheet-header-character-info .column .row .column .pantheon-list-items li:hover {
  background-color: #f2f2f2;
}

.scion-header > h1 {
  border-bottom: 0;
  margin: 0;
  font-family: skranji-bold, sans-serif;
  color: #222;
}

.standard-form.scion-v2-sheet .sheet-header .sheet-tabs .item {
  color: #222;
}

.scion-label-title {
  width: 100%;
  height: 85px;
  max-width: 130rem;
  margin: 0 auto;
  background-image: url('../assets/png/band.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scion-label-subtitle,
.scion-label-small-subtitle {
  margin: 0 0 15px 0;
  background-image: url(../assets/png/band-small.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scion-label-small-subtitle {
  background-image: url(../assets/png/band-very-small.png);
}

.scion-label-title > h2,
.scion-label-subtitle > h2,
.scion-label-small-subtitle > h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-bottom: 0;
  margin: 0;
  font-family: skranji-bold, sans-serif;
}

.scion-label-subtitle > h2,
.scion-label-small-subtitle > h2 {
  font-size: 1.2rem;
}

.scion-pantheon-button {
  width: 2rem;
  min-width: 20px;
  height: var(--form-field-height);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid var(--color-border-light-tertiary);
  background: #672121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: skranji-regular, sans-serif !important;
}

.pantheon-image {
  position: absolute;
  top: auto;
  left: auto;
  right: 5px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pantheon-image > img {
  width: 30px;
  height: 30px !important;
  flex: 0 !important;
  border: 0;
  margin-right: 0 !important;
}

.scion-pantheon-button:hover,
.scion-pantheon-button:focus {
  box-shadow: none;
}

.circle-checkbox,
.square-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #222;
  margin: 0 2px;
  background: #fff;
  vertical-align: middle;
  cursor: pointer;
  transition: background 0.2s;
}

.square-checkbox {
  border-radius: 4px;
}

.circle-checkbox {
  border-radius: 50%;
}

.circle-checkbox:checked,
.square-checkbox:checked {
  background: #222 !important;
}

.circles,
.squares {
  display: flex;
  flex-direction: row;
}

.circles > input[type='checkbox'],
.squares > input[type='checkbox'] {
  flex: 0 0 16px;
  width: 16px;
  height: 16px;
  margin: 1px;
}

.dialog .window-content {
  overflow: auto;
}

.profile-image {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 135px;
  height: 135px;
  background: #9f9f9f;
  top: 6px;
}

.token img {
  border-radius: 50% !important;
}

.combat-wheel-dialog .window-content {
  background: #fefefe !important;
  padding: 1rem !important;
  font-family: skranji-regular, sans-serif !important;
  color: #222;
  width: 19rem;
}

.combat-wheel-dialog .window-content .dialog-form .dialog-content .combat-wheel-dialog-header h2 {
  color: #222;
  font-family: skranji-regular, sans-serif !important;
  margin-bottom: 0 !important;
}

.combat-wheel-dialog .window-content .dialog-form .dialog-content .combat-wheel-dialog-column {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 1rem;
}
